body{
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #0071BC;
}

.logo{
    text-align: left;
}

h1 {
    color: red;
}